<mat-toolbar class="nav-bar">
  <mat-toolbar-row>
    <a mat-button routerLink="/">Vuelos</a>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>currency_exchange</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>translate</mat-icon>
        Peso
      </button>
      <button mat-menu-item>
        <mat-icon>translate</mat-icon>
        Dolar
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        Otro
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
