<mat-toolbar class="nav-bar">
  <mat-toolbar-row>
    <a mat-button routerLink="/">Vuelos</a>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>currency_exchange</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let currency of currencies">
        <button mat-menu-item *ngIf="displayedCurrencies.includes(currency.symbol)" (click)="setCurrency(currency?.symbol,currency?.value)">
          {{currency.symbol}}
        </button>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
